@import url(https://fonts.googleapis.com/css?family=Forum&display=swap);



* {
	margin: 0;
	padding: 0;
    font-family: Forum;
}

html,
body {
	height: 100%;
    color: white !important;
}



.wrapper {
    display: flex;
	position: relative;
	min-height: 100%;
}


.navbar {
    align-items: center;
    display: flex;
    align-items: center;
    background: black;
}

._title {
    font-size: 24px;
    position: relative;
    display: flex;
    gap: 5px;
    flex-direction: column;
}

.navbar a {
    color: rgb(151, 151, 151);
}

.navbar a:hover {
    color: white;
}

.navbar a:focus {
    color: rgb(255, 255, 255);
}

._container {
    max-width: 1416px;
    margin: 0 auto;
    padding: 0px 100px;
}
 
.btn {
    margin-left: auto;
}

.content {
	padding-bottom: 90px;
    flex: 1 1 auto;
    background-color: black;
}

._bg {
    position: absolute;
    top: 0;
    right: 0;
}

.about__container {
    position: relative;
    z-index: 2;
    padding-top: 400px;
}

.about__head {
    font-size: 80px;
}

.about__head span {
    color: rgb(151, 151, 151);
}

.about__block {
    margin-top: 150px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    gap: 80px;
}

.about__content {
    max-width: 600px;
}

.about__subtitle {
    margin-top: 60px;
    opacity: 0.7;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.about__wp {
    margin-top: 52px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    max-width: 400px;
}

.about__numbers {
    font-size: 55px;
    font-weight: 700;
    margin-bottom: 4px;
}

.about__text {
    opacity: 0.7;
    line-height: 1.4;
    font-size: 18px;
}

.about__img {
    padding: 12px;
    position: relative;
}

.about__img span {
    position: absolute;
    padding: 28px;
    bottom: 0;
    left: 0;
}

.about__img__800 {
    flex: 0 0 400px;
    padding: 12px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: relative;
    width: 100%;
}

.about__img__800 span {
    position: absolute;
    padding: 28px;
    bottom: 0;
    left: 0;
}




.connection {
    margin-bottom: 300px;
}

.footer {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 72px;
    background: black;
    border-top: solid bisque;
    border-width: 1px;
}


@media (max-width:990px) {
    .btn {
        margin-top: 10px;
        width: 100%;
    }

    .about__head {
        font-size: 45px;
    }

    .about__container {
        padding-top: 200px !important;
    }

    ._container {
        padding: 0px 20px;
    }

    .about__img {
    margin-top: 40px;
    }

    .about__img {
        display: none;
    }

}
    

    



@media (max-width: 800px) {

    .about__subtitle {
        margin-top: 40px;
    }

    .about__wp {
        margin-top: 20px;
    }

    .about__content {
        max-width: 100%;
    }
}



@media (min-width:990px) {
    ._container {
        padding-left: 90px !important;
        padding-right: 90px !important;
    }
    
    .ul {
        padding-left: 50px;
    }

    .nav-item {
        padding-left: 25px;
    }

    .navbar {
        height: 110px;
    }

    .about__img__800{
        display: none;
    }

}
